<div class="about-section">
  <h1>About Us Page</h1>
  <p>
    ‘Angular’ Restaurants are well known with a substantial gathering of people,
    including families, kids, seniors, and business experts. Our benevolent
    condition is perfect for praising unique events, facilitating a business
    lunch, or assembling for a flavorful dinner with loved ones.
  </p>
  <p>
    Open day by day for lunch and dinner,’ Angular’ offers a choice of naturally
    arranged things utilizing just the best fixings accessible. Top picks
    incorporate Certified Angus Beef®, crisp fish, rotisserie chicken, and
    infant back pork ribs.
  </p>
</div>

<h2 class="heading-categories">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../assets/ceo.png" alt="CEO" style="width: 100%" />
      <div class="container">
        <h1>Jane Doe</h1>
        <div class="title">CEO & Founder</div>
        <p>
          I always say that I don't believe I'm a chef. I try to be a
          storyteller.
        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="../../assets/master-chef.jpg"
        alt="Master Chef"
        style="width: 100%"
      />
      <div class="container">
        <h1>Mike Ross</h1>
        <div class="title">Master Chef</div>
        <p>
          I believe that there is always something new to learn, in fact, that
          is one of the three reasons that I chose to become a chef, that my
          education is never over.
        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="../../assets/pastry-chef.png"
        alt="Pastry Chef"
        style="width: 100%"
      />
      <div class="container">
        <h1>John Doe</h1>
        <div class="title">Pastry Chef</div>
        <p>
          What you feel like eating at any given moment is what you should have.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
