.container {
  margin: 10px 0px;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5px 5px;
  padding: 5px 5px;
}


.container2 {
  display: flex;
  flex-wrap: wrap;
}
.column {
  margin-bottom: 16px;
  padding: 0 8px;
}
.card {
  width: 250px;
}
.title {
  text-align: center;
  font-size: 2rem;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin: 20px 0px;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 700px) {
  .container2 {
    flex-direction: column;
  }
}

.h2-categories {
  text-align: center;
  margin: 10px auto;
  font-size: 3rem
}
