.food-details-container {
  width: 580px;
  margin: 20px auto;
  padding: 10pxx;
  background-color: #fff;
}
p {
  font-size: 1.5rem;
}

.img-category {
  width: 560px;
  height: 280px;
}

.category-name {
  margin: 0px 10px
}

.category-description {
  margin: 20px 10px
}