.course-container {
  width: 580px;
  margin: 20px auto;
  padding: 10px 10px;
  background-color: #fff;
}
p {
  font-size: 1.5rem;
}

.thumbnail {
  width: 560px;
  height: 280px;
}

.name {
  margin: 0px 10px
}

.description {
  margin: 20px 10px
}