<div class="container">
  <!-- <a routerLink="Home">Go to Home Page</a>localhost:4200/About/Home -->
  <!-- <a (click)="navigateToHome()">Go to Home Page</a> -->
  <div class="about-section">
    <h1 style="font-size: 4rem">Angular Restaurant</h1>
    <p style="font-size: 2rem">We provide the best food.</p>
  </div>
  <div>
    <h2 style="text-align: center; margin: 10px auto; font-size: 3rem">
      Categories
    </h2>
  </div>

  <div class="container2">
    <div class="row" *ngFor="let category of categories">
      <div class="column">
        <div class="card">
          <img
            src="{{ category.strCategoryThumb }}"
            alt="{{ category.strCategory }}"
            style="width: 100%"
          />
          <div class="container">
            <h2 class="title">{{ category.strCategory }}</h2>
            <p><button class="button">Detail</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-allfooddetails></app-allfooddetails>
