<div class="container">
  <!-- <a routerLink="Home">Go to Home Page</a>localhost:4200/About/Home -->
  <!-- <a (click)="navigateToHome()">Go to Home Page</a> -->
   
  <div>
    <h2 style="text-align: center; margin: 10px auto; font-size: 3rem">
      Categories
    </h2>
  </div>

  <div class="container2">
    <div class="row" *ngFor="let category of categories;">
      <div class="column">
        <div class="card">
          <img
            src="{{ category.strCategoryThumb }}"
            alt="{{ category.strCategory }}"
            style="width: 100%"
          />
          <div class="container">
            <h2 class="title">{{ category.strCategory }}</h2>
            <p><button
               class="button"
               (click)="onClickDetails()"
               
               >Detail</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

